.container {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.block {
    flex: 1;
    border: 1px solid black;
}

.color1 {
    background-color: #ff0000;
}

.color2 {
    background-color: #000000;
}

.color3 {
    background-color: #ffffe0;
}

.color4 {
    background-color: #556b2f;
}